.app__dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.app__dashboard-stats {
  width: 30%;
  background-color: #f1f1f1;
}

.app__dashboard-map {
  width: 70%;
}
