.app__dashboard-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  button {
    border: none;
    margin: 0.5rem;
    background-color: #c4c4c4;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: #666;
      color: #fff;
    }
  }

  &__image {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
