@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root {
  --font-base: 'Jost', sans-serif;
  
  --primary-color: #31322b;
  --green-color: #7cdf13;
  --black-color: #030303;
  --lightGray-color: #afafb2;
  --gray-color: #36372e;
  --white-color: #ffffff; 
  --yellow-color: #b3b137;

  --logo-width: 150px;
  --logo-height: 80px;

  @media screen and (min-width: 2000px) {
    --logo-width: 180px;
    --logo-height: 100px;
  }

}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}